@use "sass:map";
@import "config";
@import "mixins";
@import "variables";
@import "fonts";

// General Styles
img {
  width: 100%;
}
a {
  color: white;
}
#contactForm {
  max-width: 500px;
}
// Classes
.grow:hover {
  transform: scale(1.03);
}
.vh100 {
  height: 100vh;
}

@import "nav";
@import "landing";
@import "oatcake";
@import "components";
@import "home";
